@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #020617;
}

::selection {
  background: #22d3ee;
  color: #020617;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px  #020618 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
  border-radius: 0 !important;
  transition: background-color 9999s ease-in-out 0s;
}
button,
a,
[role="button"] {
  cursor: pointer;
}